* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* 62.5% of 16px default = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-size: 1.6rem;
}

h1 {
  text-align: center;
  color: #2D3142;
  margin: 4rem;
}

div.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.container {
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  min-width: 48rem;
  width: 60rem;
  border-radius: 1.5rem;
  box-shadow: 1rem 0.5rem 1.2rem 0.5rem #BFC0C0;
  background-color: #2D3142;
  margin: 5rem;
  border-bottom: 1.5rem solid transparent;
  overflow: hidden;
  padding: 1.5rem;
}

div.container:hover {
  border-bottom: 1.5rem solid #EF8354;
}

div.card-header {
  display: flex;
  padding: 0 0.5rem;
  height: 10rem;
}

.user-profile-img {
  height: 5rem;
  width: 100%;
  border-radius: 50%;  
}

div.card-header-left {
  display: flex;
  align-items: center;
}

.car {
  height: 30rem;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
  transition: all 0.5s;
  filter: grayscale(1) contrast(5);
}

.car:hover {
  transform: scale(1.75);
  background-color: rgba(0, 0, 0, 0.7);
  filter: grayscale(0);
}

.card-body {
  width: 100%;
  flex: 2;
}

.card-body p {
  padding: 5%;
}

.card-footer {
  align-self: center;
  z-index: 1;
}

/* Form Styling */
div.form-container {
  background-color: #2D3142;
  color: white;
  padding: 5rem 0;
  margin-top: 5rem;
}

form {
  width: 50rem;
  margin: 0 auto;
}

input {
  accent-color: #EF8354;
  border-style: solid;
  border-radius: 1.5rem;
  font-family: 'Lato', sans-serif;
}

form div {
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  border-color: #EF8354;
}

input[type=text] {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  box-sizing: border-box;
}

input[type=date] {
  padding: 0.6rem 1rem;
}

input[type=submit] {
  background-color: #EF8354;
  padding: 1rem;
}

small {
  color: red;
}